@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f1f0ed;

  color: #181b1d;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #f1f0ed;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #f1f0ed;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: #f1f0ed;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #181b1d;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #2b8064;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 58px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    padding: 0 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 800px;
  padding: 76px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 343px;
  height: 266.85400390625px;
}

.home-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 24px 0;
  text-shadow: 0px 4px 5px #0000004d;
}
.home__google-button_image {
  width: 192px;
  height: 64px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 80px 496px 0px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .home-title {
    width: 448px;
    height: 349px;
  }

  .home-text {
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;

    width: 333px;
  }
}
.why {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.why-item {
  width: 343px;
  border-radius: 6px;
  background: #ded8c2;
  box-shadow: 2px 2px 15px 0px #1b1c1b66;
  background: #2b8064;
  padding: 0 0 10px;
}

.why-text-bold {
  background: #2b8064;
  width: 343px;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px 6px 0 0;
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  color: #f1f0ed;
}
.why-item-two {
  display: flex;
  align-items: start;
  padding: 15.5px 8px 15.5px 0;
  background: #ded8c2;
}
.why-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #6e7174;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 100px;
    display: flex;
    gap: 239px;
  }
  .why-list {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .why-item {
    width: 397.5px;
    height: 200px;
    border-radius: 6px;
  }

  .why-text-bold {
    width: 397.5px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
  }
  .why-item-two {
    display: flex;
    align-items: start;
    padding: 15.5px 8px 15.5px 0;
    background: #ded8c2;
  }
  .why-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  text-align: center;
}
.uniqueness-text-bold {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
  color: #2b8064;
  display: inline;
  text-align: center;
}
.uniqueness-text-bold img {
  width: auto;
  display: inline;
}

.uniqueness-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  color: #6e7174;
  text-transform: uppercase;
}

.uniqueness-text {
  color: #2b8064;
}
.uniqueness-text-bold-two {
  display: none;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    padding: 60px 100px 100px;
  }
  .uniqueness-text-bold {
    display: none;
  }
  .uniqueness-text-bold-two {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;

    color: #2b8064;
    display: inline;
    text-align: center;
  }

  .uniqueness-text-bold-two img {
    display: inline;
    width: 93px;
    height: 116px;
  }

  .uniqueness-list {
    padding-top: 60px;
    width: 672px;
    margin: auto;
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
  }
}

.about-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .about-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-transform: uppercase;
  }
}
.characters {
  padding: 40px 16px 0;
  margin: auto;
  width: 375px;
  height: 2774.645751953125px;
  position: relative;
  z-index: 2;
}
.characters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/Main\ characters\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 8px;
}
.characters-item {
  width: 343px;
  border-radius: 6px;
  box-shadow: 2px 4px 30px 0px #00000033;
  background: #2b8064;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.characters-img {
  width: 343px;
  height: 263px;
  object-fit: cover;
  object-position: center;
}
.characters-text-bold {
  background: #2b8064;
  border-radius: 6px 6px 0 0;
  width: 343px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.characters-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #6e7174;
  width: 343px;

  padding: 24px;
  background: #ded8c2;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 100px;
    width: 1440px;
    height: 1482px;
    display: flex;
    align-items: start;
    gap: 40px;
  }
  .characters::before {
    background-image: url("/img/Main\ characters\ \(2\).png");
  }

  .characters-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
    padding-top: 0px;
    gap: 24px;
  }
  .characters-item {
    width: 292px;
    height: 501px;
    border-radius: 6px;
    margin: 0;
  }
  .characters-img {
    width: 292px;
    height: 263px;
  }
  .characters-text-bold {
    width: 292px;
    height: 76px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
  }
  .characters-text {
    width: 292px;
    height: 152px;
    padding: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    color: #6e7174;
  }
}
.reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
}
.reviews-item {
  background: #ded8c2;
  width: 343px;
  height: 206px;
  border-radius: 6px;
  padding: 24px;
}
.reviews-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #181b1d;
}
.reviews-text-bold-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #6e7174;
}
.reviews-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 100px;
    display: flex;
    gap: 140px;
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
    padding-top: 0px;
  }
  .reviews-item {
    width: 292px;
    height: 206px;
    gap: 16px;
    border-radius: 6px;
    padding: 24px;
  }
  .reviews-item-top {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .reviews-text-bold {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #181b1d;
  }
  .reviews-text-bold-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #6e7174;
  }
  .reviews-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.gallery__image {
  margin-top: 32px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    padding: 100px;
  }

  .gallery__image {
    content: url("/img/Screenshots\ \(1\).png");
    margin-top: 60px;
  }
}
.features {
  width: 375px;
  margin: auto;
  height: 1440px;
  background-image: url("/img/Key\ features.png");
  padding: 40px 16px 0px;
}

.features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-item {
  width: 343px;
  border-radius: 6px;
  box-shadow: 2px 4px 30px 0px #00000033;
  background: #ded8c2;
  padding-bottom: 10px;
}

.features-text-bold {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  color: #2b8064;
  width: 343px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.features-title {
  color: #ffffff;
}
.features-text {
  width: 343px;
  height: 140px;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  background: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #6e7174;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 848px;
    background-image: url("/img/Key\ features\ \(1\).png");
    padding: 100px;
    display: flex;
    gap: 226px;
  }
  .features-list {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 396px;
    height: 200px;
    border-radius: 6px;
  }

  .features-text-bold {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
    width: 396px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .features-text {
    width: 396px;
    height: 140px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.footer {
  background: #2b8064;

  color: #ffffff;
  padding: 40px 16px 22px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 8px;
}
.footer-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 88px 100px 60px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    align-items: end;

    gap: 160px;
  }

  .footer-wrapper {
    display: flex;

    gap: 14px;
  }
  .footer-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.policy-terms-container {
  padding: 100px 16px 40px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-transform: uppercase;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 124px 100px 100px;
    width: 1440px;
    margin: auto;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    text-transform: uppercase;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-transform: uppercase;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 16px;
  background: #ffffff;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: #181b1d;
}
.cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  border: none;
  border: 1px solid #2b8064;
  background: #ffffff;
  width: 167.5px;

  border-radius: 4px;
  padding: 16px 0;

  background-color: transparent;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #2b8064;
}
#accept-cookies {
  background: #2b8064;
  color: #ffffff;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 848px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
